<div class="border-right sidebar-color" id="sidebar-wrapper">
    <div class="sidebar-sticky">
        <div class="sidebar-heading-big">
            <a href="{% link index.html %}">{{ site.short_title }}<img src={{ "/icon/icon.svg" | relative_url }}></a>
        </div>
        <div class="list-group list-group-flush sidebar-color">

            {% assign pages_sorted = site.pages | sort : "order" %}

            {% for item in pages_sorted %}
            {% if item.sidebar %}
            <a href="{% link {{ item.path }} %}"
                class="sidebar-color list-item-normal list-group-item list-group-item-action sidebar-item ">
                {% if item.icon %}
                <i class="{{ item.icon }}"></i>
                {% endif %}
                {{ item.title }}
            </a>
            {% endif %}
            {% endfor %}
            <!-- <a href="https://slack.com/app_redirect?team=T01J887F8MU&channel=C01JF1N6TH8"
                class="list-item-normal list-group-item list-group-item-action sidebar-item" target="_blank"><i
                    class="fa fa-question-circle"></i>
                Slack</a> -->

        </div>

        <div class="sidebar-heading">Instructions</div>
        <div class="list-group list-group-flush">
            {% for item in site.setup %}
            <a href="{% link {{ item.path }} %}"
                class="list-item-tall list-group-item list-group-item-action bg-light sidebar-item">
                {% for i in (1..{{item.indent}}) %}&emsp;{% endfor %}
                <i class="{{item.icon}}"></i>
                {{ item.short_title | default: item.title }}

            </a>
            {% endfor %}
        </div>

        {% assign labs_sorted = site.modules | sort : "order" %}
        <div class="sidebar-heading">Modules</div>
        <div class="list-group list-group-flush">
            {% for item in labs_sorted %}
            <a href="{% link {{ item.path }} %}"
                class="list-item-tall list-group-item list-group-item-action bg-light sidebar-item">
                {% if item.number %}
                <span class="badge badge-pill badge-dark-grey">{{ item.number }}</span>
                {% else if item.icon %}
                <i class="{{item.icon}}"></i>
                {% endif %}

                {% for i in (1..{{item.indent}}) %}&emsp;{% endfor %}

                {{ item.short_title | default: item.title }}

            </a>
            {% endfor %}
        </div>

        <!-- <div class="sidebar-heading">Documentation</div>
        <div class="list-group list-group-flush">
            {% for item in site.documentation %}
            <a href="{% link {{ item.path }} %}"
                class="list-item-narrow list-group-item list-group-item-action bg-light sidebar-item">
                {% for i in (1..{{item.indent}}) %}&emsp;{% endfor %}

                {{ item.short_title | default: item.title }}

            </a>
            {% endfor %}
        </div>

        <div class="sidebar-heading">Other</div>
        <div class="list-group list-group-flush">
            {% for item in site.other %}
            <a href="{% link {{ item.path }} %}"
                class="list-item-narrow list-group-item list-group-item-action bg-light sidebar-item">
                {% for i in (1..{{item.indent}}) %}&emsp;{% endfor %}

                {{ item.short_title | default: item.title }}

            </a>
            {% endfor %}
        </div> -->
    </div>
</div>